<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebAPI.Angular2</title>

        <script src="/node_modules/systemjs/dist/system.src.js"></script>
        <script src="/node_modules/angular2/bundles/angular2.dev.js"></script>
        <script src="/node_modules/angular2/bundles/http.dev.js"></script>
        <script>
            System.import('js/app.js');
        </script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
